.TdContainerCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.td_list{
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px 16px;
  text-align: center;
  border-radius: 22px;
  background-color: #232323;
  color: #f6f6f6;
}

.td_list h1{
  color: #ffb444;
  font-size: 2.2em;
  letter-spacing: 1px;
}

.td_list h3{
  font-size: 1.1em;
  letter-spacing: 1px;
}

.btn_input{
  background-color: #80d04e;
  border: none;
  outline: none;
  padding: 7px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.btn_delete{
  border: none;
  padding: 8px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #c52222;
}

.td_input{
  padding: 2px;
  background: #f8f8f8;
}

.td_input > .text {
  outline: none;
  padding: 0px 10px;
  font-size: 1em;
  width: 240px;
  height: 46px;
  border: none;
}

.nuevo_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.texto_tarea{
  color: whitesmoke;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.td_lista{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: #070707;
}